@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$blue : #64B5F6;
$light-grey : #FAFAFA;
$dark-grey : #E0E0E0;
$darkBlue : #2196F3;
$green : #4CAF50;
$darkGreen : #2E7D32;
$purple : #673AB7;
$amber : #FFC107;
$indigo : #C5CAE9;
$tooltip-color: rgba(0,0,0,0.9);

body {
  font-family: "Roboto", sans-serif;
  background-color: $light-grey;
  margin: 0;
}

h1 {
  text-align: center;
}

.dashboard {
  display: flex;
  justify-content: center;
}

.movement-controls {
  display: grid;
  grid-template-areas:
    ". up ."
    "left . right"
    ". down .";
}

.control-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.camera-view {
}

.direction-button {
  width: 15px;
  height: 15px;
  padding: 5px;
  background-color: $purple;
  border-radius: 5px;
  border: 2px solid #FAFAFA;
  margin-bottom: 2px;
  &:hover {
    cursor: pointer;
  }
}

.right.direction-button {
  transform: rotate(0deg);
  grid-area: right;
}

.down.direction-button {
  transform: rotate(90deg);
  grid-area: down;
}

.left.direction-button {
  transform: rotate(180deg);
  grid-area: left;
}

.up.direction-button {
  transform: rotate(270deg);
  grid-area: up;
}

.arrow {
  width: 10px;
  height: 10px;
  border-bottom: solid 5px $blue;
  border-right: solid 5px $blue;
  transform: translate(-3px) rotate(315deg);
}